#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivHeader {
  z-index: 10;
  cursor: move;
  background-color: #2196f3;
  color: #fff;
  padding: 10px;
}
